body {
    display: grid;
    height: 150vh;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: #2C3333;
    text-align: center;
    padding: 2em;
}

main {
    background-color: #395B64;
    text-align: center;
    padding: 2em;
}

footer {
    background-color: #A5C9CA;
    text-align: center;
    padding: 2em;
}