.glow {
    color: rgb(237, 237, 151);
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 31px #fff,
        0 0 55px rgb(255, 226, 4),
        0 0 91px rgb(255, 226, 4),
        0 0 100px rgb(255, 226, 4),
        0 0 122px rgb(255, 226, 4),
        0 0 140px rgb(255, 226, 4);
}

body {
    text-align: center;
    font-size: 25px;
    font-family: 'Papyrus';
    background-color: #070101;
}